# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST
---
global:
  scrape_interval:     {{ prom_config_global.scrape_interval|d('15s') }}
  evaluation_interval: {{ prom_config_global.evaluation_interval|d('15s') }}

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
...
